__pycache__/
*.pyc
*.jsonl
*.tsv
*.db
*.ipynb

# experiment outputs
output_agentic/
output_agentic_final/
output_agentic_review_final/
output_agentic_experiment/
output_agentic_review_experiment/
output_agentic_review_pro_cons_final/
debug/
TripCraft_database/
TripCraftWebSite/
agentic_trip_with_review/
agents/
core/safe.py
db/
evaluation/evaluation_tsvs/
evaluation_gpt/
llm-as-judge_tsvs/
postprocess/
prompts/
rebuttal/

# files
a_p_c.py
accom_phrases.csv
accom_review_persona.py
accom_review_procons.py
accom_reviews_summary.py
accom_reviews_word.py
accom_reviews.py
accom_topics.csv
accom_word_frequency.csv
agentic_readme.md
agentic.yml
attraction_phrases.csv
attraction_reviews_summary.py
attraction_reviews_word.py
attraction_reviews.py
attraction_row_check.py
attraction_topics.csv
attraction_word_frequency.csv
BTech_readMe.md
build_gpt5_5day.py
build_gpt5_check.py
build_gpt5_finalschedule_5day.py
build_gpt5_finalschedule_7day.py
build_gpt5_finalschedule.py
build_gpt5_jsonl.py
build_gpt5.py
case_study_finder.py
check_csv.py
check_db.py
check.py
clean.py
constraint.py
create_csv.py                     
create_csv_with_pro_cons.py           
create_csv_with_review.py                  
create_tsv_with_pro_cons_pk.py 
deepseek_3day_final.jsonl
deepseek_3day_llm_final.jsonl 
deepseek_3day_with_pc_final.jsonl
deepseek_3day_with_pc_llm_final.jsonl
deepseek_5day_final.jsonl 
deepseek_5day_llm_final.jsonl 
deepseek_5day_with_pc_final.jsonl 
deepseek_5day_with_pc_llm_final.jsonl
deepseek_7day_final.jsonl   
deepseek_7day_llm_final.jsonl  
deepseek_7day_with_pc_final.jsonl 
deepseek_7day_with_pc_llm_final.jsonl
fix_csv_ftfy.py
gemini-2.5-flash_3day.jsonl
gemini-2.5-flash_3day_llm.jsonl 
golden.py
gpt_3day_v29.jsonl  
gpt5_3day_final.jsonl 
deepseek_5day_with_pc_llm_final.jsonl  
llama_7day_llm_final.jsonl            
phi4_7day_llm.jsonl                   
restaurant_phrases.csv
accom_reviews_persona.py               
deepseek_7day_final.jsonl              
llama_7day_with_pc_final.jsonl        
phi4_7day_llm_review_final.jsonl      
restaurant_reviews_summary.py
accom_reviews_procons.py               
deepseek_7day_llm_final.jsonl          
llama_7day_with_pc_llm_final.jsonl    
phi4_7day_review_final.jsonl          
restaurant_topics.csv
accom_reviews.py                       
deepseek_7day_with_pc_final.jsonl      
llama_judge_3day.tsv                  
phi4_7day_with_pc_final.jsonl         
restaurant_word_frequency.csv
accom_reviews_summary.py               
deepseek_7day_with_pc_llm_final.jsonl  
llama.py                              
phi4_7day_with_pc_llm_final.jsonl     
review_helper_continue.py
accom_reviews_word.py                  
phi4.py                               
run_at_2.py
accom_topics.csv 
mistral_3day_final.jsonl              
phi_with_pc_results.txt               
accom_word_frequency.csv               
fix_csv_ftfy.py                        
mistral_3day_llm_final.jsonl          
poi2.py                              
agentic_readme.md                      
gemini-2.5-flash_3day.jsonl            
mistral_3day_with_final.jsonl         
poihelper.py                          
run_review.py
gemini-2.5-flash_3day_llm.jsonl        
mistral_3day_with_pc_final.jsonl      
poi_runner.py                         
run.sh
golden.py                              
mistral_3day_with_pc_llm_final.jsonl  
sayali.py
gpt_3day_v29.jsonl                     
mistral_5day_final.jsonl              
shubojit_FIRST_DAY.py
gpt5_3day_final.jsonl                  
mistral_5day_llm_final.jsonl                                     
shubojit_INTER_CITY_DAY.py
gpt5_3day_final_old.jsonl              
mistral_5day_with_final.jsonl         
qwen2.5_3day_final.jsonl              
shubojit_LAST_DAY.py
agentic.yml                            
gpt5_3day.jsonl                        
mistral_5day_with_pc_final.jsonl      
qwen2.5_3day.jsonl                    
shubojit_NON_TRAVEL_DAY.py
gpt5_3day_llm_final.jsonl              
mistral_5day_with_pc_llm_final.jsonl  
qwen2.5_3day_llm_final.jsonl          
shubojit_response.py
a_p_c.py                               
gpt5_3day_llm_final_old.jsonl          
mistral_7day_final.jsonl              
qwen2.5_3day_llm.jsonl                
skeleton_builder.py
attraction_phrases.csv                 
gpt5_3day_llm.jsonl                    
mistral_7day_llm_final.jsonl          
qwen2.5_3day_llm_rerun2.jsonl         
suprit.py
attraction_reviews.py                  
gpt5_3day_v25.jsonl                    
mistral_7day_with_final.jsonl         
qwen2.5_3day_llm_rerun.jsonl          
tempp.py
attraction_reviews_summary.py          
gpt5_3day_v25_llm.jsonl                
mistral_7day_with_pc_final.jsonl      
qwen2.5_3day_llm_review_final.jsonl   
attraction_reviews_word.py             
gpt5_3day_with_pc_final.jsonl          
mistral_7day_with_pc_llm_final.jsonl  
qwen2.5_3day_rerun2.jsonl             
tpct_env.yml
attraction_row_check.py                
gpt5_3day_with_pc_llm_final2.jsonl     
normalize.py                          
qwen2.5_3day_rerun.jsonl              
tripcraft_3day.csv
attraction_topics.csv                  
gpt5_3day_with_pc_llm_final.jsonl      
original_tripcraft_3day.jsonl         
qwen2.5_3day_review_final.jsonl       
tripcraft_3day_inputs.csv
attraction_word_frequency.csv          
gpt5_5day_final.jsonl                  
original_tripcraft_5day.jsonl         
qwen2.5_3day_with_pc_final.jsonl      
tripcraft_3day_inputs.tsv
BTech_readMe.md                        
gpt5_5day_llm_final2.jsonl             
original_tripcraft_7day.jsonl         
qwen2.5_3day_with_pc_llm_final.jsonl  
tripcraft_3day.jsonl
build_gpt5_5day.py                     
gpt5_5day_llm_final.jsonl                                      
qwen2.5_3day_z3_poi.jsonl             
tripcraft_3day_pro_cons_inputs.tsv
build_gpt5_check.py                    
gpt5_5day_with_pc_final.jsonl                       
qwen2.5_5day_final.jsonl              
tripcraft_3day_pro_cons_inputs_with_transit.tsv
build_gpt5_finalschedule_5day.py       
gpt5_5day_with_pc_llm_final2.jsonl                       
qwen2.5_5day.jsonl                    
tripcraft_3day_review_inputs.tsv
build_gpt5_finalschedule_7day.py       
gpt5_5day_with_pc_llm_final.jsonl            
qwen2.5_5day_llm_final.jsonl          
tripcraft_5day.csv
build_gpt5_finalschedule.py            
gpt5_7day_final.jsonl                             
qwen2.5_5day_llm.jsonl                
tripcraft_5day_inputs.csv
build_gpt5_jsonl.py                    
gpt5_7day_llm_final2.jsonl               
qwen2.5_5day_llm_rerun.jsonl          
tripcraft_5day_inputs.tsv
build_gpt5.py                          
gpt5_7day_llm_final3.jsonl             
output.jsonl                          
qwen2.5_5day_llm_review_final.jsonl   
tripcraft_5day_pro_cons_inputs.tsv
case_study_finder.py                   
gpt5_7day_llm_final.jsonl              
patch_accommodation_transit.py        
qwen2.5_5day_rerun.jsonl              
tripcraft_5day_pro_cons_inputs_with_transit.tsv
check_csv.py                          
gpt5_7day_with_pc_final.jsonl          
pend.py                               
qwen2.5_5day_review_final.jsonl       
tripcraft_5day_review_inputs.tsv
check_db.py                            
gpt5_7day_with_pc_llm_final2.jsonl     
phi4_3day_final.jsonl                 
qwen2.5_5day_with_pc_final.jsonl      
tripcraft_7day.csv
check.py                               
gpt5_7day_with_pc_llm_final.jsonl      
phi4_3day.jsonl                       
qwen2.5_5day_with_pc_llm_final.jsonl  
tripcraft_7day_inputs.csv
clean.py                               
gpt5_llm_eval_3day_judged.tsv          
phi4_3day_llm_final.jsonl             
qwen2.5_5day_z3_poi.jsonl             
tripcraft_7day_inputs.tsv
constraint.py                          
gpt5_llm_eval_5day_judged.tsv          
phi4_3day_llm.jsonl                   
qwen2.5_7day_final.jsonl              
tripcraft_7day_pro_cons_inputs_1.tsv
gpt5_llm_eval_7day_judged.tsv          
phi4_3day_llm_review_final.jsonl      
qwen2.5_7day.jsonl                    
tripcraft_7day_pro_cons_inputs.tsv
create_csv.py                          
help.py                                
phi4_3day_review_final.jsonl          
qwen2.5_7day_llm_final.jsonl          
tripcraft_7day_pro_cons_inputs_with_transit.tsv
create_csv_with_pro_cons.py                                             
phi4_3day_with_pc_final.jsonl         
qwen2.5_7day_llm.jsonl                
tripcraft_7day_review_inputs.tsv
create_csv_with_review.py              
jsonl.py                               
phi4_3day_with_pc_llm_final.jsonl     
qwen2.5_7day_llm_rerun.jsonl          
create_tsv_with_pro_cons_pk.py         
llama_3day_final.jsonl                 
phi4_5day_final.jsonl                 
qwen2.5_7day_rerun.jsonl              
tripcraft_golden_3day.jsonl
llama_3day_llm_final.jsonl             
phi4_5day.jsonl                       
qwen2.5_7day_with_pc_final.jsonl      
tripcraft_golden_5day.jsonl
llama_3day_with_final.jsonl            
phi4_5day_llm_final.jsonl             
qwen2.5_7day_with_pc_llm_final.jsonl  
tripcraft_golden_7day.jsonl
llama_3day_with_pc_final.jsonl         
phi4_5day_llm.jsonl                   
qwen2.5_7day_z3_poi.jsonl             
tripcraft_metrics.py
deepseek_3day_final.jsonl              
llama_3day_with_pc_llm_final.jsonl     
phi4_5day_llm_review_final.jsonl      
README.md                             
4tripcraftvijay.yml
deepseek_3day_llm_final.jsonl          
llama_5day_final.jsonl                 
phi4_5day_review_final.jsonl          
rearrange.py                          
deepseek_3day_with_pc_final.jsonl      
llama_5day_llm_final.jsonl             
phi4_5day_with_pc_final.jsonl                                       
deepseek_3day_with_pc_llm_final.jsonl  
llama_5day_with_final.jsonl            
phi4_5day_with_pc_llm_final.jsonl     
deepseek_5day_final.jsonl              
llama_5day_with_pc_final.jsonl         
phi4_7day_final.jsonl                 
restauarant_reviews_persona.py
deepseek_5day_llm_final.jsonl          
llama_5day_with_pc_llm_final.jsonl     
phi4_7day.jsonl                       
restauarant_reviews.py
deepseek_5day_with_pc_final.jsonl      
llama_7day_final.jsonl                 
phi4_7day_llm_final.jsonl             
restauarant_reviews_word.py
evaluation/attraction_score.py
evaluation/commonsense_constraint_no_quote.py
evaluation/evaluate_rgpa.py
evaluation/fail_log.log
evaluation/gpt5_eval_7day.tsv
evaluation/gpt5_llm_eval_7day.tsv
evaluation/llama_eval_3day.tsv
evaluation/llama_eval_5day.tsv
evaluation/llama_eval_7day.tsv
evaluation/llama_llm_eval_3day.tsv
evaluation/llama_llm_eval_5day.tsv
evaluation/llama_llm_eval_7day.tsv
evaluation/prompt_tsv.py
evaluation/prompt.py
evaluation/prompt.txt

